<!--
index.html: homepage for scanviz web app
author: Jeff
date: 10/2016
-->

{% extends 'base.html' %}

{% block content %}

<h1>scanviz</h1>
<a href="{{ url_for('upload') }}">upload scan</a><br>
<a href="{{ url_for('search') }}">search</a>

<!-- show statistics here -->
<h2>Open ports on all scans</h2>
From <input type="datetime-local" id="from" value=""> -
<input type="datetime-local" id="to" value="">
<input type="button" value="set range" id="set">

<div id="piechart"></div>

<script>

$(document).ready(function() {
    // request for the summary data at document load
    $.post("/getsummary", {
        "from" : null,
        "to" : null
    }).success(function(jsondata) {
        var jsonobj = JSON.parse(jsondata);
        generatePieChart(jsonobj);
        console.log(jsondata);
    }).fail(function() {
        console.log("cannot contact server");
    });

    // set range date to display scan summary
    // todo: check if from < to
    $("#set").click(function() {
        $("#piechart").empty();
        var from_t = $("#from").val();
        var to_t = $("#to").val();
        $.post("/getsummary", {
            "from" : from_t,
            "to" : to_t
        }).success(function(jsondata) {
            var jsonobj = JSON.parse(jsondata);
            generatePieChart(jsonobj);
            console.log(jsondata);
        }).fail(function() {
            console.log("cannot contact server");
        });
    });

}); // end of doc.ready

function generatePieChart(jsonobj) {
	var w = 600;
	var h = 600;
	var r = h/2;
	var color = d3.scale.category20c();

    portnames = Object.keys(jsonobj.ports)

	var chartData = new Array(portnames.length);
	for(var i = 0; i < portnames.length; i++)
		chartData[i] = {"label": portnames[i] + " (" + jsonobj.ports[portnames[i]].name + ")",
                        "value": jsonobj.ports[portnames[i]].count};

	var vis = d3.select('#piechart').append("svg:svg").data([chartData]).attr("width", w).attr("height", h).append("svg:g").attr("transform", "translate(" + r + "," + r + ")");
	var pie = d3.layout.pie().value(function(d){return d.value;});

	var arc = d3.svg.arc().outerRadius(r);

	var arcs = vis.selectAll("g.slice").data(pie).enter().append("svg:g").attr("class", "slice");
	arcs.append("svg:path")
		.attr("fill", function(d, i){
			return color(i);
		})
		.attr("d", function (d) {
			return arc(d);
		});

	arcs.append("svg:text").attr("transform", function(d){
				d.innerRadius = 0;
				d.outerRadius = r;
		return "translate(" + arc.centroid(d) + ")";}).attr("text-anchor", "middle").text( function(d, i) {
		return chartData[i].label;}
			);
}

</script>

{% endblock %}
